
/*  ------------------------------------------------------------------------
#
# Title : Minesweeper - CSS Styles
#    By : Ema Cerezo and Paul Crespin
#  Date : 2023-03-20
#    
#         This file contains the parameters for the fancy css display
#
#  ------------------------------------------------------------------------ */


/* Fancy google font */
@import url('https://fonts.googleapis.com/css?family=Audiowide');


body {
  min-height: 100%; 
  width:100%; 
  position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: -moz-linear-gradient(to bottom, #b7eaff 0%,#03C988 100%) fixed;
  background: -webkit-linear-gradient(to bottom, #b7eaff 0%,#03C988 100%) fixed;
  background: -ms-linear-gradient(to bottom, #b7eaff 0%,#03C988 100%) fixed;
  background: -o-linear-gradient(to bottom, #b7eaff 0%,#03C988 100%) fixed;
  background: linear-gradient(to bottom, #b7eaff 0%,#03C988 100%) fixed;
}


.title-app {
  text-align: center;
  margin-top: 60px;
}


h1 {
  font-family: "Audiowide", sans-serif;
  font-weight: bold;
}


h2 {
  font-family: "Audiowide", sans-serif;
}


h3 {
  font-family: "Audiowide", sans-serif;
  font-weight: bold;
  font-size: 15;
  text-align: center;
}

.shiny-input-container {
  color: #474747;
  margin: auto;
}


.shiny-notification-message {
  color: #fff !important;
    background-color: #5cb85c !important;
    border: 1px solid #5cb85c !important;
}


#shiny-notification-panel {
width: 350px !important;
text-align: center !important;
}


.top-container {
    text-align: center;
    display: flex;
    margin:auto; 
    background-color:#ffffff; 
    margin-top:20px; 
    width: 820px;
    border: 2mm ridge rgba(102, 53, 26, 1);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.bottom-container {
    text-align: center;
    margin:auto; 
    background-color: #665A48; 
    padding: 30px;
    width: 820px;
    border: 2mm ridge rgba(102, 53, 26, 1);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top: none;
}


.centered-element{
    display: inline-block;
}

.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-label {
    display: inline-block;
    vertical-align: baseline;
}